<div class="dayContainer">
    <div class="dateRow">
        <h3>@Day.Date.ToString("MMM d")</h3>
    </div>

    <div class="tempRow">
        <img src="@ProcessController.GetWeatherIconImageUrl(Day.Icon)" alt="day" width="50" height="30" />
        <div class="tempContainer">
            <h4>@Day.DayHighTempDisplay</h4>
            <h4>@Day.DayLowTempDisplay</h4>
        </div>
    </div>
</div>
@functions {
    [Parameter]
    ForecastDayResult Day { get; set; }
}