html,
body {
    height: 100%;
}

app { width: 100%; }

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #7ec0ee;
}

.form-signin {
    padding: 15px;
}

    .form-signin .form-control {
        padding: 10px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .form-signin input {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

.contentContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
}

    .contentContainer .twoColumn {
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

        .contentContainer .twoColumn div {
            width: 400px;
        }

        .contentContainer .twoColumn div.conditionsContainer {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
        }

            .contentContainer .twoColumn .conditionsContainer > h3 {
                display: block;
                text-align: left;
                margin: 0;
                padding: 0;
                font-family: Arial;
                width: 100%;
            }

.forecastListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;

    margin-top: 10px;
    width: 100%;
}

.dayContainer {
    display: flex;
    flex-flow: column;
    background-color: white;
    margin-left: 15px;
    height: 100px;
    width: 150px;
}

    .dayContainer .dateRow {
        display: block;
        margin-bottom: 10px;
    }
        
        .dayContainer .dateRow > h3 {
            color: darkblue;
            font-size: 14px;
            font-family: Arial;
            font-weight: bold;
            padding: 3px;
            margin: 0;
        }

    .dayContainer .tempRow {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row;
    }
    
    .tempRow .tempContainer {
        display: flex;
        flex-flow: column;
    }

        .tempContainer > h4 {
            font-family: Arial;
            font-size: 18px;
            margin: 0;
            padding: 0;
        }

.currentConditionsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row;
    padding: 20px;

    background: white;
}

    .currentConditionsContainer h3 {
        margin: 0;
        padding: 0;
        font-family: Arial;
        text-align: center;
    }

.locationDisplay h3 {
    font-family: Arial;
    font-style: italic;
    margin: 0;
    padding: 0;

    margin-top: 10px;
}